body {
    font-family: sans-serif;
    margin: 0;
    /* background-image: linear-gradient(to right,#ebcc6d 0%, #d1b0a0 51%, #ebcc6d 100%); */
   
  }
  #myVideo {
    height: 1000px;
    width: 100vw;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    bottom: 1;
    right: 0;
  }
  
  header {
      width: 100%;
      background-color: #274472;
      margin: 0;
      height: 60px;
  }
  
   .container {
      font-family: sans-serif;
      /* color: #f1ebeb; */
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      flex-direction: column;
    }
    
    @keyframes textShine {
      0% {
        background-position: 0% 50%;
      }
      100% {
        background-position: 100% 50%;
      }
    }
    
    h1 {
      /* font-size: clamp(2.8rem, 1.5vw, 3rem); */
      font-size: 30px;
      font-weight: bold;
      margin: 5px;
      background: linear-gradient(
        to right,
        #E1F7F5 20%,
        #9AC8CD 30%,
        #0E46A3 70%,
        #1E0342 80%
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-emphasis-color: transparent;
      background-size: 500% auto;
      animation: textShine 5s ease-in-out infinite alternate;
    }
    h2 {
      font-size: 25px;
      margin: 5px;
      background: linear-gradient(
        to right,
        #1E0342 20%,
        #0E46A3 30%,
        #9AC8CD 70%,
        #E1F7F5 80%
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-emphasis-color: transparent;
      background-size: 500% auto;
      animation: textShine 5s ease-in-out infinite alternate;
    }
  
  
  form {
        display: flex;
       position: absolute;
        flex-direction: column;
        width: 400px;
        border:1px solid rgb(255, 255, 255);
        align-items: center;
        padding: 0;
        margin: 30px;
  }
  
  .field-name {
      padding: 10px 0;
      margin: 0;
      font-size: 20px;
      font-weight:bolder;
  }
  
  .field {
      padding: 10px 0;
  }
  
  .form-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      min-height:max-content;
  }
  
  .field input[type=number]{
      width:200px;
      background-color:#B3C8CF;
      font-size:20px;
      padding:5px 10px;
      color:#640D6B;
      border-radius:20px;
      border:none;
  }
  .submit-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .submit-btn{
    flex: 1 1 auto;
    margin: 10px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
  }
  .submit:hover{
    background-position: right center; 
  }
  .submit-btn{
    background-image: linear-gradient(to right,#f6d365 0%, #fda085 51%, #f6d365 100%);
   }
  .result{
      text-align:center;
      font-size:30px;
      font-weight:bolder;
      padding:20px;
      color:white;
  }
  
  .answer{
      color:#f8e1e1;
  }
  p{
    color: #31304D;
  
  }